@model AspiranturaSqlite.Models.Aspirant

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aspirant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InputDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InputDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProtectionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProtectionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Protection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Protection)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
